<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minhas tarefas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
  <div class="container text-center">
    <br>
    <h1>Listas de tarefas</h1>
    <form class="row row-cols-auto g-7 align-items-center" method="POST" action="{% url 'list' %}"> {% csrf_token %}
      <div class="col-9">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Nova lista</label>
        <div class="input-group">
          <div class="input-group-text">+</div>
          <input name="titleList" type="text" class="form-control" id="inlineFormInputGroupUsername"
            placeholder="Nova lista de tarefas">
        </div>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-info">Criar</button>
      </div>
    </form>
    <div class="list-group">
      {% for list in allLists %}
      <br>
      <a href="{% url 'detail' list.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{list.title}}</h5>
          <small>{{list.createAt}}</small>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</body>

</html>